dist/
.vscode/
.DS_Store
# stop tracking these large dirs/files
tweet_app_separated_upgrade_post_function/**/api/public/image/
mysql_checker_setup_mysql/
node_checker_install_node/
puppeteer_checker_setup_puppeteer/
tutorial_progate_cli_install/

# common ignores
node_modules/
package-lock.json
*.log
.env
